$colorTextBlack: #1A1A1A;
$colorTextGray: #667085;
$colorTextPurple: #6941C6;
$colorBgLightPurple: #F9F5FF;
$colorTextBlue: #3538CD;
$colorBgLightBlue: #EEF4FF;
$colorTextDarkPink: #C11574;
$colorBgLightPink: #FDF2FA;
$colorTextSky: #026AA2;
$colorBgLightSky: #F0F9FF;
$colorTextGreen: #027A48;
$colorBglightGreen: #ECFDF3;
$colorTextRed: #C01048;
$colorBgLightRed: #FFF1F3;
$colorTextDarkBlue001: #363F72;
$colorBgLightBlue001: #F8F9FC;
$colortextDarkOrange: #C4320A;
$colorBgLightOrange: #FFF6ED;
$colorThemeDarkBackGreen: #090D1F;
$colorThemeWhite: #FFF;
$colorThemeTextLightGray: #C0C5D0;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}