@use '../../styles/utils/mixin.scss' as mixin;
@use '../../styles/common.scss' as common;

.DisplayPostList {
    padding: 30px 0px;
    min-height: 50vh;

    &_title {
        color: common.$colorTextBlack;
        margin: 30px 0px;
        font-size: 22px;

        &.chageColorDark {
            color: common.$colorThemeWhite;
        }

        &.chageColorbright {
            color: common.$colorThemeDarkBackGreen;
        }

        @include mixin.responsive(550px) {
            margin: 0px 0px 30px 0px;
            font-size: 20px;
        }

        @include mixin.responsive(375px) {
            margin: 0px 0px 30px 0px;
            font-size: 18px;
        }
    }

    &_content {
        display: grid;
        width: 100%;
        gap: 40px;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);

        &_newsletterAllBlogPosts,
        &_allBlogPosts {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        &_projectPosts {
            display: grid;
            gap: 40px;
            width: 100%;
            height: auto;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: revert;
        }

        &_allRecentBlogPosts {
            display: block;
        }

        @include mixin.responsive(1400px) {
            gap: 30px;
        }

        @include mixin.responsive(1280px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: revert;
        }

        @include mixin.responsive(1024px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: revert;
        }

        @include mixin.responsive(686px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: revert;
        }
    }

    @include mixin.responsive(1024px) {
        padding: 50px 0px 0px 0px;
    }
}