@use '../../styles/utils/mixin.scss' as mixin;
@use '../../styles/common.scss' as common;

.DisplayPostList {
    margin: 30px 0px;

    &_title {
        color: common.$colorTextBlack;
        margin: 30px 0px;
    }

    &_content {
        display: grid;
        gap: 36px;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 28%);

        @include mixin.responsive(1280px) {
            height: 1300px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 400px 200px 200px 200px;
        }

        @include mixin.responsive(868px) {
            height: 1734px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: revert;
        }

        @include mixin.responsive(600px) {
            height: 1920px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: revert;
        }
    }

    &_contentAllBlogPosts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }
}