@use '../../styles/utils/mixin' as mixin;
@use '../../styles/common.scss' as common;

.container_title {
    padding: 30px 0px;

    &.chageDark {
        color: common.$colorThemeWhite;
        background-color: common.$colorThemeDarkBackGreen;
    }

    &.chageBright {
        color: common.$colorThemeDarkBackGreen;
        background-color: common.$colorThemeWhite;
    }

    h2 {
        text-align: center;
        height: 32vh;
        font-size: 15vw;
        font-weight: 700;
        border-top: 1px solid rgb(202, 202, 202);
        border-bottom: 1px solid rgb(202, 202, 202);
        line-height: 32vh;

        @include mixin.responsive(1024px) {
            font-size: 14vw;
            line-height: 26vh;
            height: 26vh;
        }

        @include mixin.responsive(640px) {
            font-size: 12vw;
            line-height: 18vh;
            height: 18vh;
        }

        @include mixin.responsive(440px) {
            font-size: 14vw;
            line-height: 14vh;
            height: 14vh;
        }
    }
}