@use '../../styles/common.scss' as common;
@use '../../styles/utils/mixin' as mixin;

.post_item {
    height: auto;
    cursor: pointer;

    &_image {

        &-recentPostItem1,
        &-recentPostItem2,
        &-recentPostItem3,
        &-recentPostItem4,
        &-allBlogPostItem,
        &-projectPostItem1,
        &-projectPostItem2,
        &-projectPostItem3,
        &-projectPostItem4,
        &-projectPostItem5,
        &-projectPostItem6,
        &-AllRecentBlogPosts,
        &-newsletterAllBlogPostItem {
            object-fit: cover;
            box-shadow: 2px 3px 15px rgba($color: #000000, $alpha: .1);
            height: 280px;

            @include mixin.responsive(375px) {
                height: 130px;
            }
        }

        &-recentPostItem1,
        &-allBlogPostItem,
        &-projectPostItem1,
        &-projectPostItem2,
        &-projectPostItem3,
        &-projectPostItem4,
        &-projectPostItem5,
        &-projectPostItem6 {
            width: 100%;
        }

        // &-recentPostItem1 {}

        &-recentPostItem2 {
            width: 50%;

            @include mixin.responsive(686px) {
                width: 100%;
            }
        }

        &-recentPostItem3 {
            width: 50%;

            @include mixin.responsive(686px) {
                width: 100%;
            }
        }

        &-recentPostItem4 {
            width: 50%;

            @include mixin.responsive(1280px) {
                width: 100%;
            }
        }

        // &-projectPostItem1 {}
        // &-projectPostItem2 {}
        // &-projectPostItem3 {}
        // &-projectPostItem4 {}
        // &-projectPostItem5 {}
        // &-projectPostItem6 {}
        &-newsletterAllBlogPostItem,
        &-AllRecentBlogPosts {
            width: 100%;
        }
    }

    &_content {

        &_authorAndDate {
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            color: common.$colorTextPurple;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;

            @include mixin.responsive(550px) {
                max-height: 64px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                white-space: normal;
            }
        }

        &_containerTitle {
            width: 100%;
            display: flex;

            &_title {
                color: common.$colorTextBlack;
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 32px;
                margin: 12px 0px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: inline-block;
                text-decoration: underline;
                width: 92%;

                &.chageColorDark {
                    color: common.$colorThemeDarkBackGreen;
                }

                &.chageColorbright {
                    color: common.$colorThemeWhite;
                }

                &:hover {
                    text-decoration: underline;
                }

                @include mixin.responsive(686px) {
                    font-size: 22px;
                    max-height: 128px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    white-space: normal;
                }

                @include mixin.responsive(550px) {
                    width: 86%;
                    font-size: 20px;
                }

                @include mixin.responsive(375px) {
                    font-size: 16px;
                }
            }

            &_imgArrow {

                @include mixin.responsive(1024px) {
                    flex-shrink: 0;
                    align-self: flex-start;
                    width: 50px;
                    height: 50px;
                    padding-top: 12px;
                }

                @include mixin.responsive(550px) {
                    padding-top: 16px;
                    width: 40px;
                    height: 40px;
                }
            }
        }

        &_description {
            color: common.$colorTextGray;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            min-height: 72px;
            max-height: 72px;

            &.chageColorDark {
                color: common.$colorTextGray;
            }

            &.chageColorbright {
                color: common.$colorThemeTextLightGray;
            }

            @include mixin.responsive(686px) {
                width: 100%;
            }

            @include mixin.responsive(550px) {
                font-size: 14px;
            }
        }

        &_topic {
            overflow: auto;
            white-space: nowrap;
            padding: 10px 0px;
            scrollbar-width: thin;
            scrollbar-color: #333 #f5f5f5;
            display: flex;

            &::-webkit-scrollbar {
                width: 20px;
                height: 6px;
                border-radius: 20px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #cacaca;
                border-radius: 20px;
            }

            &::-webkit-scrollbar-track {
                background-color: #f5f5f5;
                border-radius: 20px;
            }
        }

        &-recentPostItem1,
        &-allBlogPostItem,
        &-projectPostItem1,
        &-projectPostItem1,
        &-projectPostItem2,
        &-projectPostItem3,
        &-projectPostItem4,
        &-projectPostItem5,
        &-projectPostItem6,
        &-AllRecentBlogPosts,
        &-newsletterAllBlogPostItem {
            width: 100%;
        }

        &-recentPostItem1,
        &-recentPostItem2,
        &-recentPostItem3,
        &-recentPostItem4,
        &-allBlogPostItem,
        &-projectPostItem1,
        &-projectPostItem2,
        &-projectPostItem3,
        &-projectPostItem4,
        &-projectPostItem5,
        &-projectPostItem6,
        &-AllRecentBlogPosts,
        &-newsletterAllBlogPostItem {
            padding: 30px 20px;
            box-shadow: 2px 3px 15px rgba($color: #000000, $alpha: .1);
            margin-top: -10px;
            // @include mixin.responsive(686px) {
            //     padding: 20px;
            // }
        }

        // &-recentPostItem1 {}

        &-recentPostItem2 {
            width: 50%;

            @include mixin.responsive(686px) {
                width: 100%;
            }
        }

        &-recentPostItem3 {
            width: 50%;

            @include mixin.responsive(686px) {
                width: 100%;
            }
        }

        &-recentPostItem4 {
            width: 50%;

            @include mixin.responsive(1280px) {
                width: 100%;
            }
        }

        // &-allBlogPostItem {}

        // &-projectPostItem1 {

        // }

        // &-projectPostItem2 {}

        // &-projectPostItem3 {}

        // &-projectPostItem4 {}

        // &-projectPostItem5 {}

        // &-projectPostItem6 {}

        // &-AllRecentBlogPosts {}
    }

    &-recentPostItem1 {
        @include mixin.area(1, 3, 1, 2, block);

        @include mixin.responsive(1400px) {
            gap: 30px;
        }

        @include mixin.responsive(1280px) {
            @include mixin.area(1, 2, 1, 3, block);
        }
    }

    &-recentPostItem2 {
        @include mixin.area(1, 2, 2, 3, flex);

        @include mixin.responsive(1280px) {
            @include mixin.area(2, 3, 1, 3, flex);
        }

        @include mixin.responsive(686px) {
            @include mixin.area(2, 3, 1, 3, block);

        }
    }

    &-recentPostItem3 {
        @include mixin.area(2, 3, 2, 3, flex);

        @include mixin.responsive(1280px) {
            @include mixin.area(3, 4, 1, 3, flex);
        }

        @include mixin.responsive(686px) {
            @include mixin.area(3, 4, 1, 3, block);
        }
    }

    &-recentPostItem4 {
        @include mixin.area(3, 4, 1, 3, flex);

        @include mixin.responsive(1280px) {
            @include mixin.area(4, 5, 1, 3, block);
        }
    }

    @include mixin.responsive(868px) {
        height: auto;
    }

    &-allBlogPostItem {
        width: calc(100%/3);
        display: inline-block;
        padding: 10px 20px 10px 0px;

        &:nth-child(3) {
            padding-right: 0px;
        }

        &:last-child {
            padding-right: 0px;
        }



        @include mixin.responsive(1024px) {
            width: 50%;
            padding: 10px 20px 10px 0px;

            &:nth-child(2) {
                padding-right: 0px;
            }

            &:nth-child(3) {
                padding-right: 20px;
            }

            &:nth-child(4) {
                padding-right: 0px;
            }

            &:last-child {
                padding-right: 0px;
            }
        }

        @include mixin.responsive(686px) {
            padding: 10px 0px;
            width: 100%;

            &:nth-child(3) {
                padding-right: 0;
            }
        }
    }

    &-projectPostItem1 {
        @include mixin.area(1, 2, 1, 3, block);

    }

    &-projectPostItem2 {
        @include mixin.area(2, 3, 1, 2, block);

        @include mixin.responsive(1024px) {
            @include mixin.area(2, 3, 1, 3, block);
        }
    }

    &-projectPostItem3 {
        @include mixin.area(2, 3, 2, 3, block);

        @include mixin.responsive(1024px) {
            @include mixin.area(3, 4, 1, 3, block);
        }
    }

    &-projectPostItem4 {
        @include mixin.area(3, 4, 1, 3, block);

        @include mixin.responsive(1024px) {
            @include mixin.area(4, 5, 1, 3, block);
        }
    }

    &-projectPostItem5 {
        @include mixin.area(4, 5, 1, 2, block);

        @include mixin.responsive(1024px) {
            @include mixin.area(5, 6, 1, 3, block);
        }
    }

    &-projectPostItem6 {
        @include mixin.area(4, 5, 2, 3, block);

        @include mixin.responsive(1024px) {
            @include mixin.area(6, 7, 1, 3, block);
        }
    }

    &-newsletterAllBlogPostItem {
        width: calc(100%/3);
        display: inline-block;
        padding: 10px 20px 10px 0px;

        &:nth-child(3) {
            padding-right: 0px;
        }

        &:last-child {
            padding-right: 0px;
        }



        @include mixin.responsive(1024px) {
            width: 50%;
            padding: 10px 20px 10px 0px;

            &:nth-child(2) {
                padding-right: 0px;
            }

            &:nth-child(3) {
                padding-right: 20px;
            }

            &:nth-child(4) {
                padding-right: 0px;
            }
        }

        @include mixin.responsive(686px) {
            padding: 10px 0px;
            width: 100%;

            &:nth-child(3) {
                padding-right: 0;
            }
        }
    }

    &-AllRecentBlogPosts {
        width: 100%;
        padding: 10px 0px;

        &:last-child {
            padding-bottom: 20px;
        }
    }
}