.Btn {
    border: none;
    outline: none;
    // background-color: transparent;
    border-radius: 16px;
    padding: 2px 10px;
    margin-right: 20px;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    line-height: 20px;
}